{% extends 'base.html' %}
{% load static %}


{% block titulo %} Tabela {% endblock %}


{% block conteudo %}

<div class="card mb-3" style="height: 100%;">
        <div class="bordar">
          <form method="post">
           {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-md-6">
                  <span class="required">*</span><label for="marca">Marca:</label>
                  <input name="marca" type="text" onkeyup="this.value=this.value.toUpperCase();" class="form-control" id="marca" placeholder="Ex.: FIAT" required="required">
                </div>
                {% csrf_token %}
                <div class="form-group col-md-6">
                  <span class="required">*</span><label for="modelo">Modelo:</label>
                  <input name="modelo" type="text" onkeyup="this.value=this.value.toUpperCase();" class="form-control" id="modelo" placeholder="Ex.: UNO" required="required">
                </div>
              </div>


              <div class="form-row">
                <div class="form-group col-md-6">
                  <span class="required">*</span><label for="renavam">Renavam:</label>
                  <input name="renavam" type="text" class="form-control renavam-mask" id="renavam" placeholder="Renavam do veículo" required="required">
                </div>
                <div class="form-group col-md-6">
                  <span class="required">*</span><label for="placa">Placa:</label>
                  <input name="placa" type="text" onkeyup="this.value=this.value.toUpperCase();" class="form-control placa-mask" id="placa" placeholder="Placa do veículo" required="required">
                </div>

              </div>
              <div class="form-row">
                <div class="form-group col-md-5">
                  <span class="required">*</span><label for="numero_chassis">Chassi:</label>
                  <input name="numero_chassis" type="text" onkeyup="this.value=this.value.toUpperCase();" class="form-control" id="numero_chassis" placeholder="Nº do chassis" MAXLENGTH="17" required="required">
                </div>
                <div class="form-group col-md-3">
                  <span class="required">*</span><label for="ano_fabricacao">Ano Fab:</label>
                  <input name="ano_fabricacao" type="text" onkeyup="this.value=this.value.toUpperCase();" class="form-control" id="ano_fabricacao" placeholder="Ano de frabricação" required="required">
                </div>
                <div class="form-group col-md-4">
                  <span class="required">*</span><label for="cor">Cor:</label>
                  <input name="cor" type="text" onkeyup="this.value=this.value.toUpperCase();" class="form-control" id="cor" placeholder="Cor do veiculo" required="required">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">

                  <span class="required">*</span><label for="cidade">Cidade:</label>
                  <input name="cidade" type="text" onkeyup="this.value=this.value.toUpperCase();" class="form-control" id="cidade" placeholder="Ex.: Rio Branco" required="required"></div>
                  <div class="form-group col-md-4">
                      <span class="required">*</span><label for="estado">Estado:</label>
                      <select name="estado" id="estado" class="form-control">
                        <option selected>Escolher...</option>
                        <option>AC</option>
                        <option>AL</option>
                        <option>AL</option>
                        <option>AM</option>
                        <option>BA</option>
                        <option>CE</option>
                        <option>DF</option>
                        <option>ES</option>
                        <option>GO</option>
                        <option>MA</option>
                        <option>MT</option>
                        <option>MS</option>
                        <option>MG</option>
                        <option>PA</option>
                        <option>PB</option>
                        <option>PR</option>
                        <option>PE</option>
                        <option>PI</option>
                        <option>RJ</option>
                        <option>RN</option>
                        <option>RS</option>
                        <option>RO</option>
                      </select>
                  </div>
                <div class="form-group col-md-2">
                  <span class="required">*</span><label for="valor_diaria">Diária:</label>
                  <input name="valor_diaria" type="number" class="form-control" id="valor_diaria" placeholder="Custo ao dia" required="required">
                </div>
                <div class="form-group col-md-4">
                      <input name="status_aluguel" type="hidden" class="form-control" id="status_aluguel" value='0'>
                </div>
              </div>

              <div class="form-group">
              </div>

              <button type="submit" class="btn btn-primary">Cadastrar</button>
              <a href="{% url 'editar_veiculos' %}" class="btn btn-primary" role="button" aria-pressed="true">Voltar</a>
          </form>
        </div>
</div>

{% endblock %}